<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina principal del usuario</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Página principal del usuario participante" content="">
    <meta name="David" content="">
    <link rel="icon" href="../../favicon.ico">

    
    <!-- Añadiendo el Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Añadiendo Javascript para que funcione correctamente -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/userHome.css" rel="stylesheet"> 
  </head>

  <body>

    <nav class="navbar navbar-inverse ">
      <button class="navbar-toggler navbar-toggler-right" 
      			type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" 
      			aria-controls="navbarsExampleDefault" aria-expanded="false" 
      			aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container-fluid" id="navbarsExampleDefault">
        <div class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Sugerencias <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Añadir Sugerencias <span class="sr-only">(current)</span></a>
          </li>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <div class="col-sm-8 text-left">
            <div class="page-header">
                <h2>Sugerencias </h2>
            </div>
            <table id="suggestions" class="calendar_table" cellspacing="1" width="120%">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Contenido</th>
                    <th>Num. Votos</th>
                    <th>Votar</th>
                    <th>Votar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sugerencia : ${session.listaSugerencias}">
                    <td th:text="${suggestion.title}">Título</td>
                    <td th:text="${suggestion.content}">Contenido</td>
                    <td th:text="${suggestion.num_votes}">Num. Votos</td>
                    <td>
                        <form action="#" th:action="@{/posVote}"  method="post">
                            <input name="id" type="hidden" th:value="${suggestion.id}"/>
                            <button type="submit">+</button>
                        </form></td>
                    <td>
                        <form action="#" th:action="@{/negVote}"  method="post">
                            <input name="id" type="hidden" th:value="${suggestion.id}"/>
                            <button type="submit">-</button>
                        </form></td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>    <!-- Bootstrap core JavaScript>
  </body>
</html>