<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>Error</title>

    <meta name="description"></meta>
    <meta name="author"></meta>

    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/style.css" rel="stylesheet"></link>

  </head>
<body>
	<ul class="breadcrumb">
				<li>
					<a href="login.html">Home</a> <span class="divider">/</span>
				</li>
			</ul>
	<h3>Error</h3>
	<p>Se ha producido algún error, por favor contacte con un administrador</p>
</body>
</html>