<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Error</title>

    <meta name="description"/>
    <meta name="author"/>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>

  </head>
<body>
	<ul class="breadcrumb">
				<li>
					<a href="index2">Home</a> <span class="divider">/</span>
				</li>
			</ul>
	<h3>Error</h3>
	<p>Se ha producido algún error, por favor contacte con un administrador</p>
</body>
</html>