<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Sugerencia</title>
    <meta charset="utf-8">
</head>
<body>
	<h1>Crear Sugerencia</h1>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Título: <input type="text" th:field="*{id}" /></p>
        <p>Texto:  <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Crear" /> <input type="reset" value="Cancelar" /></p>
    </form>
</body>
</html>